<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <meta name="theme-color" content="#00796B">
    <title>Pokecruz</title>

    <!-- CSS  -->
    <link href="{{ url_for('static', filename='min/plugin-min.css') }}" type="text/css" rel="stylesheet">
    <link href="{{ url_for('static', filename='min/custom-min.css') }}" type="text/css" rel="stylesheet" >
</head>
<body>
<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
          <a href="/" id="logo-container" class="brand-logo">
            <div class="nav-wrapper">
              <div>
                <img style="vertical-align:middle" src="/static/img/ic_pokeball_white_48dp.png" width"48" height="48">
                <span style="">PokeCruz</span>
              </div>
            </a>
            </div>
        </div>
    </nav>
</div>

<!--Hero-->
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div>
        <a href="/com.iluretar.pokecruz.apk">
        <img src="/static/img/image_framed.png" class="ri">
      </a>
      </div>
    </div>
</div>

    </body>
</html>
